@font-face {
  font-family: "Muli";
  src: local("Muli"),
    url(../../assets/fonts/muli/Muli.ttf) format("truetype");
}
@font-face {
  font-family: "Muli-ExtraLight";
  src: local("MuliExtraLight"),
    url(../../assets/fonts/muli/Muli-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: local("QuicksandRegular"),
    url(../../assets/fonts/Quicksand/Quicksand-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand-Light";
  src: local("QuicksandLight"),
    url(../../assets/fonts/Quicksand/Quicksand-Light.ttf) format("truetype");
}

@mixin display($justify-content){
  display:flex;
 flex-direction:column;
 align-items:center;
 justify-content:$justify-content;
}    
    
.actuality {
  margin:2%;
  display: flex;
  flex-direction: column;
  border: 4px solid red;
  font-size: 62.5%;
  position :relative;
  align-items: center;
  // justify-content: space-evenly;
  box-sizing:border-box;
  
  section{
    text-align: center;
    max-width: 85vw;
    background-color: green;
    h1{
      font-size: 1rem;
    }
    h2{
      font-weight:300;
      font-family: "Quicksand-Regular";
      color: #004AAD;
      padding-bottom:10%;
    }
    .span{
      color:blue;
      width:80%;
      height: 5%;
      border: 15px red solid;   
    }
  }
  figure{
    display: flex;
    flex-direction: column;
    .imgcard {
      left:9%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      z-index: 2;
      max-width: 80%;
      max-height: 60%;
      top: 10%;
      border-radius: 4px;
      padding: 5px; 
      background-image:url("../../assets/images/taylor.jpg");
    }
    
    .a2{
      top: 70%;
      color: red;
    }
    
    .a3{
      top: 38%;
      color:blue;
    }
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 20%;
      height:1%;
      z-index: 4;
      left: 70%;
      top: 6%;
      position: absolute;
      background-color: #D99827;
      opacity: 70%;
      text-decoration: none;
      color:white;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover{
      opacity: 99%;
      }
      em{
      color:#D99827;
      }
    }
    figcaption{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 6;
      color:white;
      border:4px solid green;
      left: 20%;
      top: 22%;
      width: 60%;
      height:2%;
      font-family: "Muli";
      text-align: center;
      
    }
      .figcaption2{
        top: 56%;
      }
      .figcaption3{
        top: 88%;
      }

  } 
  h3,p,button{
    text-align:center;
    align-items: center;
    
  }
    h3{
      color:#004AAD;
      font-weight: 600;
      font-size: 1rem;
      font-family: "Quicksand-Regular";
    }
    .box{

      
    }
    .button2{
      background: none;
      color: inherit;
      border: none;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      color:#356178;
      font-size: 0.8rem;
      font-family: "Muli-ExtraLight";
      text-align: center;
      border: 10px solid blueviolet;
      position:relative;
      width: 20%;
      height:2%;
      left: 40%;
    }
    .button3{
      background: none;
      color: inherit;
      border: none;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      color:#356178;
      font-size: 0.8rem;
      font-family: "Muli-ExtraLight";
      align-items: left;
      border: 10px solid rgb(70, 43, 226);
      left: 40%;
      position:relative;
      width: 20%;
      height:2%;
    }
    .button1{
      background: none;
      color: inherit;
      border: none;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      color:#356178;
      font-size: 0.8rem;
      font-family: "Muli-ExtraLight";
      align-items: left;
      border: 10px solid rgb(177, 226, 43);
      left: 40%;
      position:relative;
      width: 20%;
      height:2%;
    }

    article>p{
      font-family: "Muli-ExtraLight";
    }
    p{
      font-weight:600;
      font-family: "Muli-ExtraLight";
    }
    
}



