@font-face {
  font-family: "Muli";
  src: local("Muli"),
    url(../../assets/fonts/muli/Muli.ttf) format("truetype");
}

.contact {
  font-size: 62.5%;
  min-width: 40%;
  // border: 5px solid blueviolet;
  font-family: "Muli-ExtraLight";
  * {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  ul{
    width: 40vw;
    a{
      text-decoration: none;
      color: black;
    }
  }
  
}
