@font-face {
  font-family: "Muli-Bold";
  src: local("MuliBold"),
    url(../../assets/fonts/muli/Muli-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Muli-ExtraLight";
  src: local("MuliExtraLight"),
    url(../../assets/fonts/muli/Muli-ExtraLight.ttf) format("truetype");
}
footer {
  font-size: 62.5%;
  border: 3px solid blue;
  justify-content: center;
  text-align: left;
  margin: 2%;
  background: pink;
  

  div:nth-child(1) {
    display: flex;
    border: 5px solid pink;
    max-width: 100%;

    p {
      width: 50%;
      display: flex;
      text-align: left;
      font-family: "Muli-ExtraLight";
      
    }
    img {
      width: 20%;
    }
  }
  .copyrightNav {
    display: flex;

    p{
      font-family: "Muli-ExtraLight";
      span{

        font-family: "Muli-Bold";

      }
    }
  }
  li {
    font-size: 1.4rem;
  }
  .Nav_links{
    list-style-type: none;
  }
}
