@font-face {
  font-family: "Muli";
  src: local("Muli"), url(../../assets/fonts/muli/Muli.ttf) format("truetype");
}
@font-face {
  font-family: "Muli-ExtraLight";
  src: local("MuliExtraLight"),
    url(../../assets/fonts/muli/Muli-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "Muli-Bold";
  src: local("MuliBold"),
    url(../../assets/fonts/muli/Muli-Bold.ttf) format("truetype");
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  font-size: 62.5%;
  box-sizing: border-box;

  // border: 10px solid green;
  overflow: hidden;
  margin: 0 !important;
  .imgHeader {
    margin: 0 !important;
    opacity: rgba(0, 0, 0, 0.7);
    // height: 568px;
    // width: 300px;
    // position: relative;
    // margin: 0;
    // padding: 0%;
    // z-index: 2;
    // z-index: 2;
    // display: contents;
    // border: 3px violet solid;
    height: 100vh;
    box-sizing: border-box;
    // overflow: hidden;
    display: block;
    filter: saturate(5%) contrast(125%);
  }

  article {
    font-size: 16px;
    position: absolute;
    top: 48%;
    right: 20%;
    width: 80%;
    height: 45%;
    border-radius: 10px;
    z-index: 4;
    border: solid 0px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);

    p:nth-child(1) {
      display: none;
    }
    .tagline {
      color: white;
      border-radius: 10px;
      font-weight: bold;
      font-family: "Muli-ExtraLight";
      font-weight: 100;
      text-align: left;
      font-size: 18px;
      padding: 25px;
      em {
        font-style: normal;
        color: white;
        font-weight: 1;
        padding-bottom: 4px;
        font-family: "Muli-Bold";
        font-size: 20px;
      }
    }
    a {
      background-color: rgba(255, 255, 255, 0.76);
      text-align: center;
      font-family: "Muli-ExtraLight";
      text-decoration: none;
    }
    .enSavoirPlus {
      color: #d99827;
      font-family: "Muli";
      font-size:16px;
      background-color: transparent;
      em {
        color: #d99827;
        font-size: 16px;
      }
    }
  }
}
