@font-face {
    font-family: "Muli";
    src: local("Muli"),
      url(../../assets/fonts/muli/Muli.ttf) format("truetype");
  }
  @font-face {
    font-family: "Muli-ExtraLight";
    src: local("MuliExtraLight"),
      url(../../assets/fonts/muli/Muli-ExtraLight.ttf) format("truetype");
  }
header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        font-size: 62.5%;
        box-sizing: border-box;
    .imgHeader{
        min-height: 80vh;
        max-width: 100Vw;
        position: relative;
        margin: 0;
        padding: 0%;
        z-index: 2;
        filter: grayscale(60%);
    }

    article{
            font-size:  1.5 ;
            position :absolute;
            top : 60%;
            right:4%;
            border-radius: 10px;
            z-index: 4;
            border: solid 2px black;
            width: 80%;
           
            
        p:nth-child(1){
            display: none;
        }
        .tagline{
            color:black;
            font-weight:bold;
            // font-family:Arial, Helvetica, sans-serif;
            font-family: "Muli";
            font-weight: 500; 
            em {
                font-style:normal;
                color:#D99827;
                font-weight: 1;
                padding-bottom: 4px;
            }
        }
        a{
            text-align: center;
            font-family: "Muli-ExtraLight";
        }

    }
}

