@font-face {
  font-family: "Muli-Light";
  src: local("MuliLight"),
    url(../../assets/fonts/muli/Muli-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Muli-Bold";
  src: local("MuliBold"),
    url(../../assets/fonts/muli/Muli-Bold.ttf) format("truetype");
}
.BurgerLink {
  font-size: 62.5%;
  display: flex;
  position: fixed;
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 10;

  .burgerMenu {
    margin: 10px;

    div {
      min-height: 2px;
      min-width: 23px;
      border-radius: 2px;
      background-color: black;
      margin-top: 3px;
      cursor: pointer;
    }
  }
  a {
    font-family: "Muli-Light";
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  .Links {
    transition: all 0.8s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    // border: 4px solid yellow;
  }
  .contacts a {
    font-family: "Muli-Light";
    font-size: 1.5em !important;
  }

  // SURFACE DUO
  @media (min-width: 540px) {
  }
  // IPAD
  @media (min-width: 768px) {
    .burgerMenu {
      display: none;
    }
    li {
      display: flex !important;
      color: black;
      display: flex !important;
      color: black !important;
      z-index: 8;
    }
    .desktop {
      display: flex !important;
      color: black !important;
      z-index: 8;
    }
  }
  /////////////// VERSIONS DESKTOP \\\\\\\\\\\\\\\
  @media (min-width: 1024px) {
    // .a1,.a3{
    //   left: 60.9%!important;
    // }

    .Links ul {
      color: rgb(250, 241, 241) !important;
      // right: 100% !important;
      top: 3% !important;
      display: flex!important;
      justify-content:flex-end !important;
      align-items: flex-end!important;
        li{
          display: flex!important;
          a {
            display: flex!important;
            font-family: "Muli-Light";
            font-size: 16px !important;
            color: black !important;
          }
        }

    }
  }
}
